ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li  {
    float: left;
  }
  
  li p {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li p:hover {
    background-color: #111;
  }

  li h4 {
    display: block;
    color: white;
    text-align: justify;
    position: relative;
    left: 8px;
    top: 12px;
    padding: 0px 14px;
    text-decoration: none;
    text-shadow: 3px 2px rgb(77, 67, 170);
  }